<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>kernel-server (host) Support.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>kernel-server (host).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>kernel-server Support.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>kernel-server.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>run-test-kernel-server.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>test-kernel-server.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
	</dict>
</dict>
</plist>
